name = "barreiro360-api"
main = "dist/server/cloudflare-worker.mjs"
compatibility_date = "2024-12-16"
compatibility_flags = ["nodejs_compat"]

[build]
command = "npm run build:cloudflare"
cwd = "./"

[env.production.vars]
ENVIRONMENT = "production"
